@model ShiftIn.Models.Event

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card" style="">
    <div class="card-body">
        <h5 class="card-title">@Html.DisplayFor(model => model.Title)</h5>
        <h6 class="card-subtitle mb-2 text-muted">@Html.DisplayFor(model => model.Location)</h6>
        <p class="card-text">@Html.DisplayFor(model => model.Description)</p>
        <p class="card-text">Number of Attendees: @(Model.Attendees.Count)</p>
        <hr />
        @foreach (var prof in Model.Attendees)
        {
        <a class="card-link" asp-controller="Profiles"
       asp-action="Details"
       asp-route-id="@prof.Id">@prof.Username</a>
       <br>
        }
        </div>
</div>
<a asp-action="Index">Back to Events</a>
