@model ShiftIn.Models.Profile

@{
    ViewData["Title"] = "Index";
}
<div class="row py-5 px-4">
    <div class="col-md-5 mx-auto">
        <div class="bg-white shadow rounded overflow-hidden" style="padding-top:4px;">
            <div class="px-4 pt-0 pb-4 cover">
                <div class="media align-items-end profile-head">
                    <div class="profile mr-3"><img src="@Html.DisplayFor(model=>model.Picture)" alt="..." width="130" class="rounded mb-2 img-thumbnail"><a href="#" class="btn btn-outline-dark btn-sm btn-block">Edit profile</a></div>
                    <div class="media-body mb-5 text-black">
                        <h4 class="mt-0 mb-0"> @Html.DisplayFor(model => model.Username)</h4>
                        <p class="small mb-4"> <i class="fas fa-map-marker-alt mr-2"></i>@Html.DisplayFor(model => model.Location)</p>
                    </div>
                </div>
            </div>
            
            <div class="px-2 py-2">
                <h5 class="mb-0">Interests</h5>
                <div class="p-2 rounded shadow-sm bg-light">
                    @if (Model.Interests != null)
                    {
                        @foreach (var interest in Model.Interests)
                        {
                            <p class="font-weight-bold mb-0"> @interest.Name </p>
                            <p class="font-italic mb-0"> @interest.Description </p>
                        }
                    }
                    else
                    {
                        <p class="font-italic mb-0">Try adding some interests to improve your profile.</p>
                    }
                </div>
                <a asp-controller="Interests" asp-action="Create">Add an Interest</a>
                </div>
            <div class="py-2 px-2">
                <div class="d-flex align-items-center justify-content-between mb-3">
                    <h5 class="mb-0">Cars</h5>
                </div>

                @if (Model.Cars != null)
                {
                    @foreach (var Car in Model.Cars)
                    {
                        <p class="font-weight-bold mb-0">@(Car.Year + "" + Car.Make + " " + Car.Model)</p>
                    }
                }
                else
                {
                    <p class="font-italic mb-0">Try adding some cars to improve your profile.</p>
                }
                <a asp-controller="Cars" asp-action="Create">Add an Car</a>
                <div class="row">
                    <!--Show users cars-->
                    <div class="col-lg-6 mb-2 pr-lg-1"><img src="" alt="" class="img-fluid rounded shadow-sm"></div>
                </div>
            </div>
            </div>
    </div>
</div>