@model IEnumerable<ShiftIn.Models.ForumPost>

@{
    ViewData["Title"] = "Thread View";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var author = ViewBag.post.Author;
}
<div class="card" style="">

    <div class="card-body">
        <div class="row">
            <div class="col">
                <h3>
                    @ViewBag.post.Title
                </h3>
                <p>
                    @ViewBag.post.Body
                </p>
            </div>


        </div>


        <div class="row">
            <div class="col">
                <h6>By: @ViewBag.post.Author.Username</h6>
                <input type="button" value="Reply" onclick="reply(@ViewBag.post.Id)" class="w-auto btn btn-sm btn-outline-dark">
                <input type="button" value="Like" onclick="upvote(@ViewBag.post.Id)" class="w-auto btn btn-sm btn-outline-dark">

            </div>
        </div>
        <hr />

        @foreach (var item in Model)
        {
            @await Html.PartialAsync("_ForumPost", item)

        }
    </div>
</div>
<partial name="_UpvoteScriptpartial">
    <partial name="_ReplyScriptspartial">
        <partial name="_LikeScripts">
            <partial name="_LoadReplyScriptsPartial">
